@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Dosis:wght@400;700&display=swap');

body {
  background-color: rgb(14, 99, 179);
}

.main h3 {
    font-size: 50px;
  }

  .main i {
    font-size: 45px;
  }
  
  .main {
    border-color: black;
    width: 1890px;
    height: 1300px;
    text-align: center;
    color: rgb(58, 193, 255);
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(17, 17, 17);
    font-size: 20px;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: rgb(241, 241, 241);
    color: rgb(3, 3, 3);
    font-weight: bold;
  }
  
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  
  /* Style the body */
  body {
    font-family: 'Dosis', sans-serif;
  }
  
  /* Header/logo Title */
  .header {
    padding: 80px;
    text-align: center;
    background-image: url(./assets/background_deeeep.io.PNG);
    /* background-image: url("../assets/background_deeeep.io.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    color: rgb(255, 255, 255);
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 40px;
  }
  
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(5, 4, 4);
    height: 305px;
  }

  .no_download a {
    font-size: 50px;
  }

  .no_download sup {
    font-size: 20px;
    color: rgb(8, 169, 233);
  }
